header {
  max-width: 104.8rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center; // Later
  padding: 1.6rem 2.4rem; // Later

  .left {
    height: 2.6rem;

    img {
      height: 100%;
    }
  }

  .middle ul {
    display: flex;
    align-items: center;
    list-style: none;

    li a {
      font-size: 1.4rem;
      padding: 0.8rem 1.6rem;
      color: var(--gray);
      text-decoration: none;

      & + a {
        margin-left: 1.2rem;
      }
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  .right {
    margin-left: 0.8rem;

    display: flex;
    align-items: center;

    .conf {
      height: 3.2rem;
      position: relative;

      cursor: pointer;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        color: var(--white);
        font-size: 1.4rem;
        width: max-content;
      }
    }
    .avatar {
      cursor: pointer;
      margin-left: 0.8rem;
      width: 3.2rem;
      height: 3.2rem;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  .burguer {
    display: inline-block;
    cursor: pointer;

    div {
      width: 35px;
      height: 5px;
      background-color: var(--white);
      margin: 6px 0;
      transition: 0.4s;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  .change {
    div:nth-child(1) {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }

    div:nth-child(2) {
      opacity: 0;
    }

    div:nth-child(3) {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }
}
